img#bia{

  border-radius: 5px;
}
.top-bar{
  background:    #f5f5f0 ;
  padding: 5px 0px; 
}
.form-inline{
  margin-top: 15px;
}
.btn-link{
 color: #000000;
 font-size: 15px;
}
.btn-menu {
  color: #fff;
  background: red;
  border-color: #2e6da4;
}
.menu {
  background-color:    #a63f4d   /*#3333ff*/ ;
  border-radius: 7px;
  

}
.menu ul{
  list-style-type: none;
  margin-left: 400px;
  padding: 0;
}
.menu ul li{
  float: left;
}
.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 5px;
}
.menu li a:hover{
    background-color: #555;
    color: white;
    border-radius: 5px;
}

.sidebar{
  border-radius: 10px;
  margin-bottom: 5px;
}
.sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 30px;
    width: 100%;
    height: 500px;
    background-color:  
     #e6e6e6;
    border-radius: 10px;
    
}

.sidebar li a {
    display: block;
    color: #000;
    padding: 20px 16px;
    text-decoration: none;
    text-align: center;
    border-bottom: 1px solid  #cccccc;
    font-weight: bold;

}
 .sidebar li a:hover{
    background-color: #555;
    color: white;
    border-radius: 5px;
}
.sidebar ul li a:focus{
    background-color: #555;
    color: white;
    border-radius: 5px;
}

table.dulieu th {
  height: 50px;
}
table.dulieu td {
  height: 35px;
}


#social:hover {
    -webkit-transform:scale(1.0); 
}
#social {
-webkit-transform:scale(0.8);
                /* Browser Variations: */
-webkit-transition-duration: 0.5s; 

            }           
/* 
    Only Needed in Multi-Coloured Variation 
                                               */
.social-fb:hover {
                color: #3B5998;}
.social-tw:hover {
                color: #4099FF;}
.social-gp:hover {
                color: #d34836;}
.social-em:hover {
                color: #f39c12;
            }
.item_sidebar{
  -webkit-transform:scale(1);
                /* Browser Variations: */
-webkit-transition-duration: 0.03s; 
}
.item_sidebar:hover{
   -webkit-transform:scale(1.05);
}
.footer{
 border-radius: 5px; 
}
.item_ketnoi ul li{
  list-style: none;
}
.item_ketnoi ul li a{
  text-decoration: none;
}
.Diachi ul li {
  list-style: none;
  font-size: 14px;
  font-weight: bold;
}
.lienhe ul li{
  list-style: none;
  padding:0 25px;
    font-size: 15px;
  font-weight: bold;
}

